In [1]:
import os
import re
import pandas as pd
 
def count_files(top, pattern, list_files):
  top = os.path.abspath(os.path.expanduser(top))
  res = []
  for root, dirs, files in os.walk(top):
    name_space = os.path.relpath(root, top)
    level = os.path.normpath(name_space).count(os.sep) + 1 if name_space != '.' else 0
    matches = [file for file in files if re.search(pattern, file)]
    if matches:
      if list_files:
        res.append((pattern, level, name_space, len(matches), matches))
      else:
        res.append((pattern, level, name_space, len(matches)))

  if list_files:
    df = pd.DataFrame(res, columns=['pattern', 'level', 'name_space', 'count', 'files'])
  else:
    df = pd.DataFrame(res, columns=['pattern', 'level', 'name_space', 'count'])
  return df

In [2]:
# count the text files (i.e. those ending in .txt) in each subdirectory
df = count_files(".", "\.txt", False)

In [3]:
df

  pattern  level name_space  count
0   \.txt      0          .      3
1   \.txt      1         d1      2
2   \.txt      2      d1/d2      2
3   \.txt      3   d1/d2/d3      1

In [4]:
# To see what those files are
df = count_files(".", "\.txt", True)

In [5]:
df

  pattern  level name_space  count                     files
0   \.txt      0          .      3  [f8.txt, f1.txt, f7.txt]
1   \.txt      1         d1      2          [f6.txt, f2.txt]
2   \.txt      2      d1/d2      2          [f4.txt, f3.txt]
3   \.txt      3   d1/d2/d3      1                  [f5.txt]

In [6]:
# get the total number of files
df['count'].sum()

8

In [7]:
# count files ending with .ipynb (ipython notebook files)
df = count_files(".", "\.ipynb", True)

In [8]:
df

   pattern  level          name_space  count                           files
0  \.ipynb      0                   .      1             [count_files.ipynb]
1  \.ipynb      1  .ipynb_checkpoints      1  [count_files-checkpoint.ipynb]

In [9]:
df['count'].sum()

2

In [10]:
# count all the files
df = count_files(".", ".*", False)

In [11]:
df

  pattern  level          name_space  count
0      .*      0                   .      4
1      .*      1  .ipynb_checkpoints      1
2      .*      1                  d1      2
3      .*      2               d1/d2      2
4      .*      3            d1/d2/d3      1

In [12]:
df['count'].sum()

10