In [16]:
import pandas as pd
import numpy as np

np.random.seed(42)
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)

          0         1         2         3         4         5
0  0.496714 -0.138264  0.647689  1.523030 -0.234153 -0.234137
1  1.579213       NaN -0.469474  0.542560 -0.463418 -0.465730
2  0.241962       NaN -1.724918 -0.562288 -1.012831  0.314247
3 -0.908024 -1.412304  1.465649 -0.225776  0.067528 -1.424748
4 -0.544383  0.110923 -1.150994  0.375698 -0.600639 -0.291694
5 -0.601707  1.852278 -0.013497       NaN  0.822545 -1.220844
6  0.208864 -1.959670 -1.328186  0.196861  0.738467  0.171368
7 -0.115648 -0.301104 -1.478522 -0.719844 -0.460639       NaN
8  0.343618 -1.763040  0.324084 -0.385082 -0.676922       NaN
9  1.031000  0.931280 -0.839218 -0.309212  0.331263  0.975545

In [17]:
df[3].isnull().any()

True

In [18]:
df[0].isnull().any()

False

In [19]:
df[df[1].isnull()]

          0   1         2         3         4         5
1  1.579213 NaN -0.469474  0.542560 -0.463418 -0.465730
2  0.241962 NaN -1.724918 -0.562288 -1.012831  0.314247

In [20]:
df[df[3].isnull()]

          0         1         2   3         4         5
5 -0.601707  1.852278 -0.013497 NaN  0.822545 -1.220844

In [21]:
df[df[0].isnull()]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []