In [1]:
# Idea here is to convert number strings such as 123,456.78 to 123456.78
# and (123,456.78) to -123456.78

import pandas as pd
df = pd.DataFrame({'col': ['123,456.78', '(123,456.78)']})
df

            col
0    123,456.78
1  (123,456.78)

In [2]:
df['col'].replace( '[,)]', '', regex=True)\
         .replace( '[(]', '-', regex=True)\
         .astype(float)

0    123456.78
1   -123456.78
Name: col, dtype: float64

In [4]:
df['col'] = df['col'].replace( '[,)]', '', regex=True)\
                     .replace( '[(]', '-', regex=True)\
                     .astype(float)
print(df)
print(df.dtypes)

         col
0  123456.78
1 -123456.78
col    float64
dtype: object