An irrelevant notebook where I experiment on random stuff

In [10]:
import numpy as np
import pandas as pd

np.random.seed(42)
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8)})
print(df)

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
1  bar    one -0.138264  0.542560  0.314247
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
4  foo    two -0.234153  0.241962  1.465649
5  bar    two -0.234137 -1.913280 -0.225776
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

In [4]:
df.loc[0:3, ['B', 'D']]

       B         D
0    one -0.469474
1    one  0.542560
2    two -0.463418
3  three -0.465730

In [5]:
wf = pd.read_csv('C:/users/kkusuman/x/junk.txt')
print(wf)

   from        to            module                            node_desc  \
0   NaN  20180927     Long Term Irc                 AeJ Acqn Lev Finance
1   NaN  20180927     Long Term Irc                 AeJ Acqn Lev Finance
2   NaN  20180927     Long Term Irc                 AeJ Acqn Lev Finance
3   NaN  20180927     Long Term Irc  Japan Real Estate Mezzanine Finance
4   NaN  20180927     Long Term Irc  Japan Real Estate Mezzanine Finance
5   NaN  20180927  ALF Underwriting                                  NaN

    run  parent_node
0  True     649975.0
1  True     645438.0
2  True     649880.0
3  True     405797.0
4  True     244658.0
5  True          NaN

In [7]:
wf.groupby(by=['to', 'module', 'run']).agg({'parent_node': lambda x: tuple(x)})

                                                                      parent_node
to       module           run
20180927 ALF Underwriting True                                             (nan,)
         Long Term Irc    True  (649975.0, 645438.0, 649880.0, 405797.0, 24465...

In [8]:
wf.groupby(by=['to', 'module', 'run']).agg({'parent_node': lambda x: list(x)})

                                                                      parent_node
to       module           run
20180927 ALF Underwriting True                                              [nan]
         Long Term Irc    True  [649975.0, 645438.0, 649880.0, 405797.0, 24465...

In [9]:
pd.__version__

'0.23.3'

In [11]:
# Add two columns of dataframes

import numpy as np
import pandas as pd

np.random.seed(42)
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8)})
print(df)

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
1  bar    one -0.138264  0.542560  0.314247
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
4  foo    two -0.234153  0.241962  1.465649
5  bar    two -0.234137 -1.913280 -0.225776
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

In [19]:
df['F'] = 'prefix-' + df['A'] + '-' + df['B']
df['G'] = df['A'] + df['D'].astype(str)
df['H'] = df['A'] + df['D'].map(str)
print(df)

     A      B         C         D         E                 F  \
0  foo    one  0.496714 -0.469474 -1.012831    prefix-foo-one
1  bar    one -0.138264  0.542560  0.314247    prefix-bar-one
2  foo    two  0.647689 -0.463418 -0.908024    prefix-foo-two
3  bar  three  1.523030 -0.465730 -1.412304  prefix-bar-three
4  foo    two -0.234153  0.241962  1.465649    prefix-foo-two
5  bar    two -0.234137 -1.913280 -0.225776    prefix-bar-two
6  foo    one  1.579213 -1.724918  0.067528    prefix-foo-one
7  foo  three  0.767435 -0.562288 -1.424748  prefix-foo-three

                    G                        H
0  foo-0.469474385935   foo-0.4694743859349521
1   bar0.542560043586    bar0.5425600435859647
2  foo-0.463417692812  foo-0.46341769281246226
3   bar-0.46572975357  bar-0.46572975357025687
4   foo0.241962271566   foo0.24196227156603412
5   bar-1.91328024466    bar-1.913280244657798
6   foo-1.72491783251   foo-1.7249178325130328
7  foo-0.562287529241   foo-0.5622875292409727