In [1]:
# features | contains strings, floats, bools

import numpy as np
import pandas as pd

np.random.seed(42)
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8),
                   'F' : [None, True, None, None, None, True, None, True]
                  })
print(df)

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
1  bar    one -0.138264  0.542560  0.314247
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
4  foo    two -0.234153  0.241962  1.465649
5  bar    two -0.234137 -1.913280 -0.225776
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

In [2]:
# features | number of entries parameterized

import numpy as np
import pandas as pd

np.random.seed(42)
N=8
df = pd.DataFrame({'C' : np.random.randn(N),
                   'D' : np.random.randn(N),
                   'E' : np.random.randn(N)})
print(df)

          C         D         E
0  0.496714 -0.469474 -1.012831
1 -0.138264  0.542560  0.314247
2  0.647689 -0.463418 -0.908024
3  1.523030 -0.465730 -1.412304
4 -0.234153  0.241962  1.465649
5 -0.234137 -1.913280 -0.225776
6  1.579213 -1.724918  0.067528
7  0.767435 -0.562288 -1.424748

In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'group': [1, 1, 2, 3, 3, 3, 4],
    'param': ['a', 'a', 'b', np.nan, 'a', 'a', np.nan]
})
print(df)

   group param
0      1     a
1      1     a
2      2     b
3      3   NaN
4      3     a
5      3     a
6      4   NaN

In [4]:
structure = pd.DataFrame([{'sheet':'mixed',
                           'table':'group'},
                          {'sheet':'mixed',
                           'table':'desc'},
                          {'sheet':'separate',
                           'table':'group'},
                          {'sheet':'separate',
                           'table':'desc'}])
print(structure)

      sheet  table
0     mixed  group
1     mixed   desc
2  separate  group
3  separate   desc

In [5]:
df1 = pd.DataFrame({'A':['A0','A1','A2'],
                    'B':['B0','B1','B2'],
                    'C':['C0','C1','C2']},
                   index=pd.date_range('2017-01-01',periods=3, freq='M'))
print(df1)

             A   B   C
2017-01-31  A0  B0  C0
2017-02-28  A1  B1  C1
2017-03-31  A2  B2  C2

In [6]:
import sys
print(sys.version)

3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 11:27:44) [MSC v.1900 64 bit (AMD64)]