In [15]:
import numpy as np
import pandas as pd

np.random.seed(42)
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8)})
print(df)

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
1  bar    one -0.138264  0.542560  0.314247
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
4  foo    two -0.234153  0.241962  1.465649
5  bar    two -0.234137 -1.913280 -0.225776
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

Consider the following task:
Print the first four rows with the smallest values of 'C'.

To achieve this, let try sorting the dataframe on column 'C'

In [16]:
df.sort_values('C', inplace=True)
print(df)

     A      B         C         D         E
4  foo    two -0.234153  0.241962  1.465649
5  bar    two -0.234137 -1.913280 -0.225776
1  bar    one -0.138264  0.542560  0.314247
0  foo    one  0.496714 -0.469474 -1.012831
2  foo    two  0.647689 -0.463418 -0.908024
7  foo  three  0.767435 -0.562288 -1.424748
3  bar  three  1.523030 -0.465730 -1.412304
6  foo    one  1.579213 -1.724918  0.067528

Notice that the sort operation is smart enough to move both the data and the row labels in a consistent manner. Now print the first four rows using iloc.

In [3]:
print(df.iloc[0:4])

     A    B         C         D         E
4  foo  two -0.234153  0.241962  1.465649
5  bar  two -0.234137 -1.913280 -0.225776
1  bar  one -0.138264  0.542560  0.314247
0  foo  one  0.496714 -0.469474 -1.012831

To get individual columns where rows are specified by position and columns are specified by labels

In [4]:
df.loc[df.index[0:4], ['C', 'D']]

          C         D
4 -0.234153  0.241962
5 -0.234137 -1.913280
1 -0.138264  0.542560
0  0.496714 -0.469474

Do the same with iloc

In [5]:
df.iloc[0:4, [df.columns.get_loc('C'), df.columns.get_loc('D')]]

          C         D
4 -0.234153  0.241962
5 -0.234137 -1.913280
1 -0.138264  0.542560
0  0.496714 -0.469474

To get individual columns where both rows and columns are specified by position

In [6]:
df.iloc[0:4, 2:4]

          C         D
4 -0.234153  0.241962
5 -0.234137 -1.913280
1 -0.138264  0.542560
0  0.496714 -0.469474

In [7]:
pd.__version__

'0.23.3'