In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(5,4), columns = list('abcd'))
print(df)

          a         b         c         d
0  0.926318  0.734185  0.228997  0.514071
1  0.623335  0.538796  0.917593  0.382860
2  0.493969  0.179185  0.997419  0.322723
3  0.806617  0.343891  0.619139  0.344852
4  0.685242  0.653906  0.233460  0.149507

In [2]:
# select all but the column b
df.loc[:,~df.columns.isin(['b'])]

          a         c         d
0  0.926318  0.228997  0.514071
1  0.623335  0.917593  0.382860
2  0.493969  0.997419  0.322723
3  0.806617  0.619139  0.344852
4  0.685242  0.233460  0.149507

In [3]:
# select all but columns b and c
df.loc[:,~df.columns.isin(['b', 'd'])]

          a         c
0  0.926318  0.228997
1  0.623335  0.917593
2  0.493969  0.997419
3  0.806617  0.619139
4  0.685242  0.233460