Use DataFrame.loc to select some rows and columns

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8)})
print(df)

     A      B         C         D         E
0  foo    one  2.050121 -0.390258 -0.583267
1  bar    one  0.023762 -0.294755 -0.977756
2  foo    two -0.947663  1.253396  1.298562
3  bar  three -1.392411 -1.145495  0.074152
4  foo    two  1.644334  1.140055 -0.158504
5  bar    two  0.276298 -1.084587  0.591749
6  foo    one  0.169849 -0.910738  0.721918
7  foo  three -1.149333 -1.233510  0.603622

In [2]:
df.loc[0:3, ['B', 'D']]

       B         D
0    one -0.390258
1    one -0.294755
2    two  1.253396
3  three -1.145495

In [ ]:
See also | https://pandas.pydata.org/pandas-docs/stable/indexing.html