Use DataFrame.loc to select some rows and columns

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8)})
print(df)

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
1  bar    one -0.138264  0.542560  0.314247
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
4  foo    two -0.234153  0.241962  1.465649
5  bar    two -0.234137 -1.913280 -0.225776
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

In [2]:
df.loc[0:3, ['B', 'D']]

       B         D
0    one -0.469474
1    one  0.542560
2    two -0.463418
3  three -0.465730

See also | https://pandas.pydata.org/pandas-docs/stable/indexing.html
    
The loc function also works on a boolean column.

In [3]:
# Todo:- Looks like df.loc[mask] and df[mask] produce the same 
# output. Is there any reason to use one over the other?

mask = df['C']>0
print(df.loc[mask])

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

In [4]:
print(df[mask])

     A      B         C         D         E
0  foo    one  0.496714 -0.469474 -1.012831
2  foo    two  0.647689 -0.463418 -0.908024
3  bar  three  1.523030 -0.465730 -1.412304
6  foo    one  1.579213 -1.724918  0.067528
7  foo  three  0.767435 -0.562288 -1.424748

Related | https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html