tags | replace missing values with a serial number, replace missing values with a sequence, dataframe fillna with sequence, dataframe fill nan values with a range, replace nan with a serial number

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a': [71,72,np.nan,73,np.nan,np.nan,74],
                   'b': [np.nan,81,np.nan,82,83,84,85],
                   'c': [51, 52, np.nan, np.nan, np.nan, 53, np.nan]},
                  index=[2,4,6,0,1,3,5])
df_orig = df.copy()
print(df)

      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   NaN   NaN   NaN
0  73.0  82.0   NaN
1   NaN  83.0   NaN
3   NaN  84.0  53.0
5  74.0  85.0   NaN

In [2]:
mask = df['a'].isna()
print(mask)

2    False
4    False
6     True
0    False
1     True
3     True
5    False
Name: a, dtype: bool

In [3]:
print(mask.sum())

3

In [4]:
df.loc[mask, 'a'] = range(1,1+mask.sum())
df

      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   1.0   NaN   NaN
0  73.0  82.0   NaN
1   2.0  83.0   NaN
3   3.0  84.0  53.0
5  74.0  85.0   NaN

In [5]:
df = df_orig.copy()
mask = df.isna()
print(mask)

       a      b      c
2  False   True  False
4  False  False  False
6   True   True   True
0  False  False   True
1   True  False   True
3   True  False  False
5  False  False   True

In [6]:
mask.sum()

a    3
b    2
c    4
dtype: int64

In [7]:
def serialize_nans_by_column(df, cols, inplace):
    mask = df[cols].isna()
    if not inplace:
        df_new = df.copy()
    else:
        df_new = df
    for col in cols:
        df_new.loc[mask[col], col] = range(1,1+mask[col].sum())
    return df_new

In [8]:
# Test with inplace=False
df = df_orig.copy()
print(df)
df_new = serialize_nans_by_column(df, ['a', 'c'], inplace=False)
print(df_new)
print(df)

      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   NaN   NaN   NaN
0  73.0  82.0   NaN
1   NaN  83.0   NaN
3   NaN  84.0  53.0
5  74.0  85.0   NaN
      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   1.0   NaN   1.0
0  73.0  82.0   2.0
1   2.0  83.0   3.0
3   3.0  84.0  53.0
5  74.0  85.0   4.0
      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   NaN   NaN   NaN
0  73.0  82.0   NaN
1   NaN  83.0   NaN
3   NaN  84.0  53.0
5  74.0  85.0   NaN

In [9]:
# Test with inplace=False
df = df_orig.copy()
print(df)
df_new = serialize_nans_by_column(df, ['a', 'c'], inplace=True)
print(df_new)
print(df)

      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   NaN   NaN   NaN
0  73.0  82.0   NaN
1   NaN  83.0   NaN
3   NaN  84.0  53.0
5  74.0  85.0   NaN
      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   1.0   NaN   1.0
0  73.0  82.0   2.0
1   2.0  83.0   3.0
3   3.0  84.0  53.0
5  74.0  85.0   4.0
      a     b     c
2  71.0   NaN  51.0
4  72.0  81.0  52.0
6   1.0   NaN   1.0
0  73.0  82.0   2.0
1   2.0  83.0   3.0
3   3.0  84.0  53.0
5  74.0  85.0   4.0