In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8),
                   'E' : np.random.randn(8),
                   'F' : [None, True, None, None, None, True, None, True]
                  })
print(df)

     A      B         C         D         E     F
0  foo    one  0.496714 -0.469474 -1.012831  None
1  bar    one -0.138264  0.542560  0.314247  True
2  foo    two  0.647689 -0.463418 -0.908024  None
3  bar  three  1.523030 -0.465730 -1.412304  None
4  foo    two -0.234153  0.241962  1.465649  None
5  bar    two -0.234137 -1.913280 -0.225776  True
6  foo    one  1.579213 -1.724918  0.067528  None
7  foo  three  0.767435 -0.562288 -1.424748  True

In [2]:
df.sort_values('D', inplace=True)
print(df)

     A      B         C         D         E     F
5  bar    two -0.234137 -1.913280 -0.225776  True
6  foo    one  1.579213 -1.724918  0.067528  None
7  foo  three  0.767435 -0.562288 -1.424748  True
0  foo    one  0.496714 -0.469474 -1.012831  None
3  bar  three  1.523030 -0.465730 -1.412304  None
2  foo    two  0.647689 -0.463418 -0.908024  None
4  foo    two -0.234153  0.241962  1.465649  None
1  bar    one -0.138264  0.542560  0.314247  True

In [3]:
# To not modify the original df but assign the result to a new variable
#  df_new = df.reset_index(drop=True)
# To do it in place
#  df.reset_index(drop=True, inplace=True)

df_new = df.reset_index(drop=True)
print(df_new)

     A      B         C         D         E     F
0  bar    two -0.234137 -1.913280 -0.225776  True
1  foo    one  1.579213 -1.724918  0.067528  None
2  foo  three  0.767435 -0.562288 -1.424748  True
3  foo    one  0.496714 -0.469474 -1.012831  None
4  bar  three  1.523030 -0.465730 -1.412304  None
5  foo    two  0.647689 -0.463418 -0.908024  None
6  foo    two -0.234153  0.241962  1.465649  None
7  bar    one -0.138264  0.542560  0.314247  True

In [4]:
# confirm that the original df remains intact
print(df)

     A      B         C         D         E     F
5  bar    two -0.234137 -1.913280 -0.225776  True
6  foo    one  1.579213 -1.724918  0.067528  None
7  foo  three  0.767435 -0.562288 -1.424748  True
0  foo    one  0.496714 -0.469474 -1.012831  None
3  bar  three  1.523030 -0.465730 -1.412304  None
2  foo    two  0.647689 -0.463418 -0.908024  None
4  foo    two -0.234153  0.241962  1.465649  None
1  bar    one -0.138264  0.542560  0.314247  True

In [5]:
# Modify it inplace now.
df.reset_index(drop=True, inplace=True)
print(df)

     A      B         C         D         E     F
0  bar    two -0.234137 -1.913280 -0.225776  True
1  foo    one  1.579213 -1.724918  0.067528  None
2  foo  three  0.767435 -0.562288 -1.424748  True
3  foo    one  0.496714 -0.469474 -1.012831  None
4  bar  three  1.523030 -0.465730 -1.412304  None
5  foo    two  0.647689 -0.463418 -0.908024  None
6  foo    two -0.234153  0.241962  1.465649  None
7  bar    one -0.138264  0.542560  0.314247  True