In [1]:
import pandas as pd
from datetime import datetime
name = ['foo', 'bar'];
dstr = ['Aug 25 2016', 'Jul 20 2016'];
df = pd.DataFrame({'name': name, 'dstr': dstr});
print(df)

  name         dstr
0  foo  Aug 25 2016
1  bar  Jul 20 2016

In [4]:
df['date'] = pd.to_datetime(df['dstr'], format='%b %d %Y').dt.strftime("%Y-%m-%d")
print(df)

  name         dstr        date
0  foo  Aug 25 2016  2016-08-25
1  bar  Jul 20 2016  2016-07-20

In [3]:
df.sort_values('date')

  name         dstr        date
1  bar  Jul 20 2016  2016-07-20
0  foo  Aug 25 2016  2016-08-25

Ref:-
    * http://strftime.org/ - contains definitions of different format specifiers